<web-app>
    <servlet>
        <display-name>Company Services</display-name>
        <servlet-name>api.ApplicationConfig</servlet-name>
        <init-param>
            <param-name>javax.ws.rs.ApplicationConfig</param-name>
            <param-value>api.ApplicationConfig</param-value>
        </init-param>
    </servlet>
</web-app>
